@page "/messages"
@using MudBlazor
@inject NavigationManager nav

 <div class="d-flex flex-grow-1 mud-theme-primary">
    <MudPaper Class="mud-height-full" MinHeight="970px" MaxHeight="1080px">
        <MudText Class="px-5 py-2"> WEEB MSG HERE </MudText>
    </MudPaper>
</div>
@code {
    
}
