@*
    Layout for the Scrollable list that exists within the indexcomponent.

    This component holds all servers allows the user to group servers in folders.

    Clicking servers within this component should call for parent navigation to the serverviewcomponent.

    Furthermore a user can create a server by clicking add server from within the list.
*@
<h3>ServerListComponent</h3>

@code {

}
