@*
    Layout for the serverviewcomponent that exists within the indexcomponent.

    This component shows the general server layout, allowing the user to navigate between textchannels, 
    view existing messages and send new messages as well as pin them to a pinboard shared with the other members of the channel.

    Also the serverview allows the user to start a by navigating to a voicechannel.

    Furthermore a user can view all members of a server by showing the memberlist.

    The user can also choose to add new members to a server by creating an invite link and sharing it.
*@
<h3>ServerViewComponent</h3>

@code {

}
