@*
    Layout for a ActivityPrivacySettingsComponent that exists within a SettingsViewComponent.

    This component handles user settings regarding Activity & Privacy.
*@
<h3>Component</h3>

@code {

}
