@*
    Layout for a TransactionHistoryComponent that exists within a SettingsViewComponent.

    This component shows the users transaction history aswell as allows the user to create or edit payment methods which can be used later.
*@
<h3>Component</h3>

@code {

}
