@*
    Layout for a MyAccountComponent that exists within a SettingsViewComponent.

    This component handles changing user displayname, username, email and phonenumber plus password and authentication aswell as account disabling / removing.
*@
<h3>Component</h3>

@code {

}
