@*
    Layout for a ProfilesComponent that exists within a SettingsViewComponent.

    This component handles changing user displayname, bannercolor, avatar og about me
    as well as changing different serverprofile's servernickname.
*@
<h3>Component</h3>

@code {

}
