@*
    Layout for the usersettings section that exists as an overlay within the indexcomponent.

    This component holds navigation to all other setting components aswell as devices, billing stuff, subscriptions and myaccount.

    Furthermore the user should be able to logout from navigation located within this component.
*@
<h3>Component</h3>

@code {

}
