@*
    Layout for a SubscriptionsComponent that exists within a SettingsViewComponent.

    This component shows subscriptions allowing the user to choose tiers and payment method previously specified in the Billingcomponent, thereby subscribing to the elevated tier.
*@
<h3>Component</h3>

@code {

}
