@*
    Layout for a VoiceVideoSettingsComponent that exists within a SettingsViewComponent.

    This component handles user settings regarding voice and video as well as soundboard settings and other such settings that are shared between them (advanced).
*@
<h3>Component</h3>

@code {

}
