@using CoreLib.Entities.EchoCore.AccountCore
@*
    membercomponent layout for when it exists within the scrollable list in the memberlistcomponent.

    This component should display members displayname, image, and role color.

    Hovering and left-clicking the member allows the user to display the members user profile.

    Hovering and right-clicking the member allows the user to display the user tooltip of the member.
*@
@if(Account != null)
{
    <MudPaper Width="20vw" Square Style="background: var(--mud-palette-dark);">
        <h2>@Account.Profile.DisplayName</h2>
        <h4>@Account.Name.ToLower()</h4>
        <MudDivider />
        Echo Member since
        <h2>@Account.TimeCreated</h2>
        Note?
    </MudPaper>
}

@code {

    [Parameter]
    public Account Account { get; set; }
}
