@*
    membercomponent layout for when it exists within the scrollable list in the memberlistcomponent.

    This component should display members displayname, image, and role color.

    Hovering and left-clicking the member allows the user to display the members user profile.

    Hovering and right-clicking the member allows the user to display the user tooltip of the member.
*@
<h3>MemberComponent</h3>

@code {

}
