@*
    Layout for a memberlist that exists within a chatviewcomponent and a textchannelviewcomponent.

    This component holds all members related to the chat or textchannel.

    It should group members according to their role.
*@
<h3>Component</h3>

@code {

}
