@using CoreLib.Entities.EchoCore.ChatCore
@using MudBlazor
@using EchoWebapp.Client.Components.DirectMessages.Friends
@using EchoWebapp.Client.Components.DirectMessages.Chats
@rendermode InteractiveAuto
@*
    Layout for the friends section that exists within the DirectMessagesViewComponent in the indexcomponent.

    This component holds several sections via navigation in tabs that displays online users,
    all users, pending requests, friend suggestions, blocked users and the option to add friends.
*@

@* <h3>DirectMessageViewComponent</h3> *@
<ChatListComponent OnItemSelected=@HandelOnChatChanged />

@if (DisplayFriends)
{
    <FriendsViewComponent />
}
else
{
    <ChatViewComponent Content="chat" />
}


@code {
    [Parameter]
    public bool DisplayFriends { get; set; }

    [Parameter]
    public Chat chat { get; set; }
    //set as latest chat pr default

    public void HandelOnChatChanged(Chat c)
    {
        DisplayFriends = false;
        chat = c;
        if(c == null)
        {
            DisplayFriends = true;
        }
        Console.Clear();
        Console.WriteLine(DisplayFriends+" "+c.Messages.First().Content);
        StateHasChanged();
    }
}
