@*
    Server layout for when it exists within the scrollable list in the direct message section.

    Opening a server tool tip should allow the user to use the server tooltip.
*@

<h3>ServerComponent</h3>

@code {

}
