@*
    Server tooltip layout which can be accessed from many parts of the program by selecting a server and entering the tooltip.

    The tooltip should allow the user to leave the server and personalize options regarding the server such as mute the server, 
    hide channels, etc. aswell as navigate to several other sections regarding the server.
*@
<h3>ServerToolTipComponent</h3>

@code {

}
