@*
    Layout for a messagelist that exists within a chatviewcomponent and a textchannelviewcomponent.

    This component holds all messages related to the chat or textchannel.
*@
<h3>Component</h3>

@code {

}
