@*
    MessagePin layout for when it exists within the scrollable list in the PinboardComponent.

    This component should display the message that was pinned as well as the sender, and allow for navigation (autoscroll) to the message by clicking the jump button on the pin

    Furthermore the pin should have a button to delete the pin from the pinboard.
*@
<h3>MessagePinComponent</h3>

@code {

}
