@*
    Message layout for when it exists within the scrollable list in the MessageListComponent.

    This component should display the content of the message as well as the attachments, the user who sent the message and the option to enter the tooltip.

    Hovering and clicking the message sender allows the user to see the senders profile.

    Also the message should have options for how it looks (if the message is standalone or bundled)
*@
<h3>Component</h3>

@code {

}
