@*
    Messagetooltip layout which can be accessed from the MessageComponent by selecting a Message and entering the tooltip.

    The tooltip should allow the user to reply, pin, mark as read,
    copy the text, copy a link to the message, delete the message if permitted, edit the message if its their own and report the message if it isnt their own.
*@

<h3>MessageComponentTooltip</h3>

@code {

}
