@*
    Layout for a messagetextinputcomponent that exists within a chatviewcomponent and a textchannelviewcomponent.

    This component handles sending messages to a specific chat or textchannel as well as the validation that should be handled regarding the message content.
*@
<h3>Component</h3>

@code {

}
