@*
    Layout for a pinboard that exists within a chatviewcomponent and a textchannelviewcomponent.

    This component holds all pinned messages related to the chat or textchannel.
*@
<h3>PinboardComponent</h3>

@code {

}
