@*
    Friend suggestion layout for when it exists within the scrollable list in the FriendSuggestionListComponent.

    This component should hold suggestions regarding friends, allowing the user to accept the suggestion thereby sending a request, or declining the suggestion thereby ignoring the suggestion.
*@
<h3>Component</h3>

@code {

}
