@*
    Layout for the Scrollable list that exists within the FriendsViewComponent in the suggestion section.

    This component holds all suggestions and allows the user to search within the requests to filter them.

    Clicking a suggestion should open the profile of the other user.
*@
<h3>Component</h3>

@code {

}
