@*
    Layout for a UserConnectionUIcomponent that exists within the indexcomponent.

    This component allows for quick access to disconnect from call, stream, enable cam, soundboard functionality,
    as well as mute self, deafen self, change activity status, custom status and navigate to user settings.
*@
<h3>Component</h3>

@code {

}
