@using CoreLib.Entities.EchoCore.AccountCore
@using CoreLib.Entities.EchoCore.ChatCore
@using MudBlazor
@rendermode InteractiveAuto

@*
    Layout for the Scrollable list that exists within the directmessagesviewcomponent.

    This component holds all chats and allows the user to search within the chats to filter them.

    Clicking chats within this component should call for parent navigation to the chatviewcomponent.
*@
@* <h3>ChatListComponent</h3> *@
<MudPaper Width="280px" Square Style="background: var(--mud-palette-surface);">
     <MudText Class="px-5 py-2">Direct Messages</MudText>
     <MudList Clickable="true">
        @foreach (var c in chatList.OrderByDescending(e => e.Messages.Last().TimeSent))
        {
            <MudListItem Dense="true" OnClick="@(() => OnItemSelected.InvokeAsync(c))">
            <ChatComponent Chat="SortChat(c)" />
            </MudListItem>
        }
    </MudList>
</MudPaper>
@code {

    //DUMMY DATA
    public List<Chat> chatList = new()
    {
        new Chat()
                {
                    Id = 0,
                    IconUrl = "",
                    Name = "Test Group",
                    Participants = new List<Account>()
                            {
                    new Account() { Id = 112, Name = "TheDoe", Profile = new AccountProfile(){ AvatarFileURL = "https://us.tonies.com/cdn/shop/products/Tonies-PDP-Assets-Nemo-Single.jpg", },
                        ActivityStatus = new AccountActivityStatus(){ Description = "Online", Icon = "", IconColor = Color.Success.ToString()
                    }, TimeCreated = DateTime.Now.AddDays(-17) },
                    new Account() { Id = 113, Name = "BobTheBuilder", Profile = new AccountProfile(){ AvatarFileURL = "https://a1cf74336522e87f135f-2f21ace9a6cf0052456644b80fa06d4f.ssl.cf2.rackcdn.com/images/characters/large/800/Shrek.Shrek.webp", } },
                    new Account() { Id = 114, Name = "Mary Jane", Profile = new AccountProfile(){ AvatarFileURL = "https://static.wikia.nocookie.net/marvelcinematicuniverse/images/3/35/IronMan-EndgameProfile.jpg", } },
                    new Account() { Id = 115, Name = "Billie Jean",  Profile = new AccountProfile(){ AvatarFileURL = "https://helios-i.mashable.com/imagery/articles/02R4UBVAJlHadovaNQfVpyG/images-1.fill.size_2000x1124.v1611703273.jpg", } },
                    new Account() { Id = 116, Name = "Jeppe", Profile = new AccountProfile(){ AvatarFileURL = "https://www.looper.com/img/gallery/the-ending-of-death-note-explained/intro-1620395655.jpg", } }
                            },
                    Messages = new List<ChatMessage>()
                            {
                        new ChatMessage() {
                            Author = new Account() { Id = 116, Name = "Jeppe", Profile = new AccountProfile(){ AvatarFileURL = "https://www.looper.com/img/gallery/the-ending-of-death-note-explained/intro-1620395655.jpg", }},
                             AuthorId = 116,
                              TimeSent = DateTime.Now.AddDays(-2),
                               Content = "YEEEEEEET! :'D"
                        },
                        new ChatMessage() {
                            Author = new Account() { Id = 116, Name = "Jeppe", Profile = new AccountProfile(){ AvatarFileURL = "https://www.looper.com/img/gallery/the-ending-of-death-note-explained/intro-1620395655.jpg", }},
                             AuthorId = 116,
                              TimeSent = DateTime.Now.AddDays(-2).AddMinutes(1),
                               Content = "Skrrt"
                        },
                         new ChatMessage() {
                            Author = new Account() { Id = 116, Name = "Jeppe", Profile = new AccountProfile(){ AvatarFileURL = "https://www.looper.com/img/gallery/the-ending-of-death-note-explained/intro-1620395655.jpg", }},
                             AuthorId = 116,
                              TimeSent = DateTime.Now.AddDays(-2).AddMinutes(3),
                               Content = "BRRRRRRRRRRRRR"
                        },
                        new ChatMessage() {
                            Author = new Account() { Id = 113, Name = "BobTheBuilder", Profile = new AccountProfile(){ AvatarFileURL = "https://a1cf74336522e87f135f-2f21ace9a6cf0052456644b80fa06d4f.ssl.cf2.rackcdn.com/images/characters/large/800/Shrek.Shrek.webp", } },
                             AuthorId = 113,
                              TimeSent = DateTime.Now.AddDays(-4).AddHours(3),
                               Content = "Dafuq?"
                        },
                            }
                },

                new Chat()
        {
            Id = 1,
            IconUrl = "https://us.tonies.com/cdn/shop/products/Tonies-PDP-Assets-Nemo-Single.jpg",
            Name = "TheDoe",
            Participants = new List<Account>()
                        {
                    new Account() { Id = 112, Name = "TheDoe", Profile = new AccountProfile(){ AvatarFileURL = "https://us.tonies.com/cdn/shop/products/Tonies-PDP-Assets-Nemo-Single.jpg", },
                        ActivityStatus = new AccountActivityStatus(){ Description = "Online", Icon = "", IconColor = Color.Success.ToString()
                    }, TimeCreated = DateTime.Now.AddDays(-17) }},
                    Messages = new List<ChatMessage>()
                        {
                        new ChatMessage() {
                            Author = new Account() { Id = 112, Name = "TheDoe", Profile = new AccountProfile(){ AvatarFileURL = "https://us.tonies.com/cdn/shop/products/Tonies-PDP-Assets-Nemo-Single.jpg", }},
                             AuthorId = 112,
                              TimeSent = DateTime.Now.AddDays(-2),
                               Content = "Ehm idk! :'D"
                        },
                        new ChatMessage() {
                            Author = new Account() { Id = 112, Name = "TheDoe", Profile = new AccountProfile(){ AvatarFileURL = "https://us.tonies.com/cdn/shop/products/Tonies-PDP-Assets-Nemo-Single.jpg", }},
                             AuthorId = 112,
                              TimeSent = DateTime.Now.AddDays(-2).AddMinutes(1),
                               Content = "Skreeeeeeeert"
                        },                        new ChatMessage() {
                            Author = new Account() { Id = 112, Name = "TheDoe", Profile = new AccountProfile(){ AvatarFileURL = "https://us.tonies.com/cdn/shop/products/Tonies-PDP-Assets-Nemo-Single.jpg", }},
                             AuthorId = 112,
                              TimeSent = DateTime.Now.AddDays(-2).AddMinutes(4),
                               Content = "Skreeewwwwwwert"
                        },
                        new ChatMessage() {
                            Author = new Account() { Id = 113, Name = "BobTheBuilder", Profile = new AccountProfile(){ AvatarFileURL = "https://a1cf74336522e87f135f-2f21ace9a6cf0052456644b80fa06d4f.ssl.cf2.rackcdn.com/images/characters/large/800/Shrek.Shrek.webp", } },
                             AuthorId = 113,
                              TimeSent = DateTime.Now.AddDays(-2).AddHours(1).AddMinutes(1),
                               Content = ":("
                        },new ChatMessage() {
                            Author = new Account() {
                                Id = 215,
                                Name = "SunnySideUp",
                                Profile = new AccountProfile() {
                                    AvatarFileURL = ""
                                }
                            },
                            AuthorId = 215,
                            TimeSent = DateTime.Now.AddDays(-7).AddHours(5).AddMinutes(43),
                            Content = "Good morning everyone! Let's make today amazing!"
                        },

                        new ChatMessage() {
                            Author = new Account() {
                                Id = 507,
                                Name = "CrazyCatLady",
                                Profile = new AccountProfile() {
                                    AvatarFileURL = ""
                                }
                            },
                            AuthorId = 507,
                            TimeSent = DateTime.Now.AddDays(-1).AddHours(2).AddMinutes(15),
                            Content = "Just adopted another furball! Say hello to Muffin!"
                        },

                        new ChatMessage() {
                            Author = new Account() {
                                Id = 821,
                                Name = "TechNerd",
                                Profile = new AccountProfile() {
                                    AvatarFileURL = ""
                                }
                            },
                            AuthorId = 821,
                            TimeSent = DateTime.Now.AddDays(-4).AddHours(6).AddMinutes(58),
                            Content = "Does anyone know a good resource for learning Python? I'm eager to dive into programming!"
                        },
                        new ChatMessage() {
    Author = new Account() {
        Id = 113,
        Name = "BobTheBuilder",
        Profile = new AccountProfile() {
            AvatarFileURL = "https://a1cf74336522e87f135f-2f21ace9a6cf0052456644b80fa06d4f.ssl.cf2.rackcdn.com/images/characters/large/800/Shrek.Shrek.webp"
        }
    },
    AuthorId = 113,
    TimeSent = DateTime.Now.AddDays(-3).AddHours(2).AddMinutes(35),
    Content = "Hey team, just a quick reminder that our meeting is rescheduled to tomorrow at 10 AM. Don't forget!"
},

new ChatMessage() {
    Author = new Account() {
        Id = 113,
        Name = "BobTheBuilder",
        Profile = new AccountProfile() {
            AvatarFileURL = "https://a1cf74336522e87f135f-2f21ace9a6cf0052456644b80fa06d4f.ssl.cf2.rackcdn.com/images/characters/large/800/Shrek.Shrek.webp"
        }
    },
    AuthorId = 113,
    TimeSent = DateTime.Now.AddDays(-6).AddHours(4).AddMinutes(12),
    Content = "Just finished reading an amazing book! Highly recommend it to everyone looking for a good read."
},

new ChatMessage() {
    Author = new Account() {
        Id = 113,
        Name = "BobTheBuilder",
        Profile = new AccountProfile() {
            AvatarFileURL = "https://a1cf74336522e87f135f-2f21ace9a6cf0052456644b80fa06d4f.ssl.cf2.rackcdn.com/images/characters/large/800/Shrek.Shrek.webp"
        }
    },
    AuthorId = 113,
    TimeSent = DateTime.Now.AddDays(-9).AddHours(1).AddMinutes(55),
    Content = "Feeling excited about the upcoming project! Let's crush it, team!"
},
new ChatMessage() {
    Author = new Account() {
        Id = 113,
        Name = "BobTheBuilder",
        Profile = new AccountProfile() {
            AvatarFileURL = "https://a1cf74336522e87f135f-2f21ace9a6cf0052456644b80fa06d4f.ssl.cf2.rackcdn.com/images/characters/large/800/Shrek.Shrek.webp"
        }
    },
    AuthorId = 113,
    TimeSent = DateTime.Now.AddDays(-4).AddHours(3).AddMinutes(20),
    Content = "Just got back from a refreshing hike! Nature always helps clear the mind."
},

new ChatMessage() {
    Author = new Account() {
        Id = 113,
        Name = "BobTheBuilder",
        Profile = new AccountProfile() {
            AvatarFileURL = "https://a1cf74336522e87f135f-2f21ace9a6cf0052456644b80fa06d4f.ssl.cf2.rackcdn.com/images/characters/large/800/Shrek.Shrek.webp"
        }
    },
    AuthorId = 113,
    TimeSent = DateTime.Now.AddDays(-2).AddHours(6).AddMinutes(8),
    Content = "Working on some new DIY projects at home. Can't wait to see how they turn out!"
},

// More chat messages here...

new ChatMessage() {
    Author = new Account() {
        Id = 113,
        Name = "BobTheBuilder",
        Profile = new AccountProfile() {
            AvatarFileURL = "https://a1cf74336522e87f135f-2f21ace9a6cf0052456644b80fa06d4f.ssl.cf2.rackcdn.com/images/characters/large/800/Shrek.Shrek.webp"
        }
    },
    AuthorId = 113,
    TimeSent = DateTime.Now.AddDays(-8).AddHours(2).AddMinutes(45),
    Content = "Just discovered a new podcast series! Perfect for long commutes."
},new ChatMessage() {
    Author = new Account() {
        Id = 113,
        Name = "BobTheBuilder",
        Profile = new AccountProfile() {
            AvatarFileURL = "https://a1cf74336522e87f135f-2f21ace9a6cf0052456644b80fa06d4f.ssl.cf2.rackcdn.com/images/characters/large/800/Shrek.Shrek.webp"
        }
    },
    AuthorId = 113,
    TimeSent = DateTime.Now.AddDays(-5).AddHours(1).AddMinutes(40),
    Content = "Just finished a great workout session! Feeling energized 💪"
},

new ChatMessage() {
    Author = new Account() {
        Id = 113,
        Name = "BobTheBuilder",
        Profile = new AccountProfile() {
            AvatarFileURL = "https://a1cf74336522e87f135f-2f21ace9a6cf0052456644b80fa06d4f.ssl.cf2.rackcdn.com/images/characters/large/800/Shrek.Shrek.webp"
        }
    },
    AuthorId = 113,
    TimeSent = DateTime.Now.AddDays(-3).AddHours(5).AddMinutes(12),
    Content = "Just tried a new recipe for dinner and it turned out amazing! Who wants the recipe?"
},

// More chat messages here...

new ChatMessage() {
    Author = new Account() {
        Id = 113,
        Name = "BobTheBuilder",
        Profile = new AccountProfile() {
            AvatarFileURL = "https://a1cf74336522e87f135f-2f21ace9a6cf0052456644b80fa06d4f.ssl.cf2.rackcdn.com/images/characters/large/800/Shrek.Shrek.webp"
        }
    },
    AuthorId = 113,
    TimeSent = DateTime.Now.AddDays(-6).AddHours(3).AddMinutes(58),
    Content = "Just saw the most breathtaking sunset! Sometimes it's the simple things that make life beautiful."
}




                                                }
                                }
                            };

    public Chat SortChat(Chat c)
    {
        c.Messages = c.Messages.OrderBy(e => e.TimeSent).ToList();
        return c;
    }

    [Parameter]
    public EventCallback<Chat> OnItemSelected { get; set; }
}
