@using CoreLib.Entities.EchoCore.AccountCore
@using CoreLib.Entities.EchoCore.UserCore
@*
    Layout for the user profile section that exists within the chatviewcomponent if it is a private chat between two users.

    This component shows the other member of the private chat displaying their name, 
    userhandle, image, mutual friends, echocreationdate, status, personal note, and collapsed lists of both mutual servers and mutual friends.

    Expanding the mutual server list or mutual friend lists within this component allows the user to click a specific server or friend allowing direct navigation.
*@

<div style="display: @(Visible ? "block" : "none");">
    <MudPaper Width="20vw" Height="95vh" Square Style="background: var(--mud-palette-dark);">
        @if(Account != null)
        {
             <h2>@Account.Profile.DisplayName</h2>
             <h4>@Account.Name.ToLower()</h4>
             <MudDivider/>
             <p>Echo Member since</p>
             <h2>@Account.TimeCreated</h2>
             <p>Note?</p>
        }
    </MudPaper>
</div>
@code {
    [Parameter]
    public bool Visible { get; set; } = true;

    [Parameter]
    public Account Account { get; set; }
}
