@*
    Layout for the chatvoicecall that represents an ongoing call that exists within the chatviewcomponent.

    This component allows the user to view callparticipants, use chatfunctionality such as mute, change participant volume as well as join and leave the call.
*@
<h3>Component</h3>

@code {

}
