@using CoreLib.DTO.EchoCore.ChatCore.TextCore
@using CoreLib.DTO.EchoCore.UserCore
@using CoreLib.Entities.EchoCore.AccountCore
@using CoreLib.Entities.EchoCore.ChatCore
@using MudBlazor
@rendermode InteractiveAuto

@*
    Layout for the Scrollable list that exists within the directmessagesviewcomponent.

    This component holds all chats and allows the user to search within the chats to filter them.

    Clicking chats within this component should call for parent navigation to the chatviewcomponent.
*@
@* <h3>ChatListComponent</h3> *@
<MudPaper Width="280px" Square Style="background: var(--mud-palette-surface);">
     <MudText Class="px-5 py-2">Direct Messages</MudText>
     <MudList Clickable="true">
         @foreach (var c in chat.OrderByDescending(e => e.Messages.Last().TimeSent))
        {
            <MudListItem Dense="true" OnClick="@(() => OnItemSelected.InvokeAsync(c))">
                <ChatComponent Chat="SortChat(c)" />
            </MudListItem>
        }
    </MudList>
</MudPaper>
@code {
    //DUMMY DATA
    public List<Chat> chatList = new()
    {
        new Chat(){
            Id = 0,
            IconUrl = "",
            Name = "Msg with 1 other",
            Participants = new List<Account>(){
                new Account() {
                    Id = 112, Name = "TheDoe",
                    Profile = new AccountProfile(){
                        AvatarFileURL = "https://us.tonies.com/cdn/shop/products/Tonies-PDP-Assets-Nemo-Single.jpg",
                    },
                    ActivityStatus = new AccountActivityStatus(){
                        Description = "Online", Icon = "", IconColor = Color.Success.ToString(),
                    },
                    TimeCreated = DateTime.Now.AddDays(-17),},

                new Account() {
                    Id = 113, Name = "BobTheBuilder",
                    Profile = new AccountProfile(){
                        AvatarFileURL = "https://a1cf74336522e87f135f-2f21ace9a6cf0052456644b80fa06d4f.ssl.cf2.rackcdn.com/images/characters/large/800/Shrek.Shrek.webp", DisplayName = "Bob The Builder", BannerColor = "#5C23D9"
                    },
                    TimeCreated = DateTime.Now.AddDays(-17)
                },

            },
            Messages = new List<ChatMessage>()
                {
                new ChatMessage() {
                    Author = new Account() { Id = 112, Name = "TheDoe", Profile = new AccountProfile(){ AvatarFileURL = "https://us.tonies.com/cdn/shop/products/Tonies-PDP-Assets-Nemo-Single.jpg", }},
                        AuthorId = 116,
                        TimeSent = DateTime.Now.AddDays(-2),
                        Content = "YEEEEEEET! :'D"
                },
                new ChatMessage() {
                    Author = new Account() { Id = 112, Name = "TheDoe", Profile = new AccountProfile(){ AvatarFileURL = "https://us.tonies.com/cdn/shop/products/Tonies-PDP-Assets-Nemo-Single.jpg", }},
                        AuthorId = 116,
                        TimeSent = DateTime.Now.AddDays(-2).AddMinutes(1),
                        Content = "Skrrt"
                },
                    new ChatMessage() {
                    Author = new Account() { Id = 112, Name = "TheDoe", Profile = new AccountProfile(){ AvatarFileURL = "https://us.tonies.com/cdn/shop/products/Tonies-PDP-Assets-Nemo-Single.jpg", }},
                        AuthorId = 116,
                        TimeSent = DateTime.Now.AddDays(-2).AddMinutes(3),
                        Content = "BRRRRRRRRRRRRR"
                },
                new ChatMessage() {
                    Author = new Account() { Id = 113, Name = "BobTheBuilder", Profile = new AccountProfile(){ AvatarFileURL = "https://a1cf74336522e87f135f-2f21ace9a6cf0052456644b80fa06d4f.ssl.cf2.rackcdn.com/images/characters/large/800/Shrek.Shrek.webp", } },
                        AuthorId = 113,
                        TimeSent = DateTime.Now.AddDays(-4).AddHours(3),
                        Content = "Dafuq?"
                },
            }

        },
        new Chat()
                {
                    Id = 0,
                    IconUrl = "",
                    Name = "Test Group",
                    Participants = new List<Account>()
                            {
                    new Account() { Id = 112, Name = "TheDoe", Profile = new AccountProfile(){ AvatarFileURL = "https://us.tonies.com/cdn/shop/products/Tonies-PDP-Assets-Nemo-Single.jpg", },
                        ActivityStatus = new AccountActivityStatus(){ Description = "Online", Icon = "", IconColor = Color.Success.ToString()
                    }, TimeCreated = DateTime.Now.AddDays(-17) },
                    new Account() { Id = 113, Name = "BobTheBuilder", Profile = new AccountProfile(){ AvatarFileURL = "https://a1cf74336522e87f135f-2f21ace9a6cf0052456644b80fa06d4f.ssl.cf2.rackcdn.com/images/characters/large/800/Shrek.Shrek.webp", } },
                    new Account() { Id = 114, Name = "Mary Jane", Profile = new AccountProfile(){ AvatarFileURL = "https://static.wikia.nocookie.net/marvelcinematicuniverse/images/3/35/IronMan-EndgameProfile.jpg", } },
                    new Account() { Id = 115, Name = "Billie Jean",  Profile = new AccountProfile(){ AvatarFileURL = "https://helios-i.mashable.com/imagery/articles/02R4UBVAJlHadovaNQfVpyG/images-1.fill.size_2000x1124.v1611703273.jpg", } },
                    new Account() { Id = 116, Name = "Jeppe", Profile = new AccountProfile(){ AvatarFileURL = "https://www.looper.com/img/gallery/the-ending-of-death-note-explained/intro-1620395655.jpg", } }
                            },
                    Messages = new List<ChatMessage>()
                            {
                        new ChatMessage() {
                            Author = new Account() { Id = 116, Name = "Jeppe", Profile = new AccountProfile(){ AvatarFileURL = "https://www.looper.com/img/gallery/the-ending-of-death-note-explained/intro-1620395655.jpg", }},
                             AuthorId = 116,
                              TimeSent = DateTime.Now.AddDays(-2),
                               Content = "YEEEEEEET! :'D"
                        },
                        new ChatMessage() {
                            Author = new Account() { Id = 116, Name = "Jeppe", Profile = new AccountProfile(){ AvatarFileURL = "https://www.looper.com/img/gallery/the-ending-of-death-note-explained/intro-1620395655.jpg", }},
                             AuthorId = 116,
                              TimeSent = DateTime.Now.AddDays(-2).AddMinutes(1),
                               Content = "Skrrt"
                        },
                         new ChatMessage() {
                            Author = new Account() { Id = 116, Name = "Jeppe", Profile = new AccountProfile(){ AvatarFileURL = "https://www.looper.com/img/gallery/the-ending-of-death-note-explained/intro-1620395655.jpg", }},
                             AuthorId = 116,
                              TimeSent = DateTime.Now.AddDays(-2).AddMinutes(3),
                               Content = "BRRRRRRRRRRRRR"
                        },
                        new ChatMessage() {
                            Author = new Account() { Id = 113, Name = "BobTheBuilder", Profile = new AccountProfile(){ AvatarFileURL = "https://a1cf74336522e87f135f-2f21ace9a6cf0052456644b80fa06d4f.ssl.cf2.rackcdn.com/images/characters/large/800/Shrek.Shrek.webp", } },
                             AuthorId = 113,
                              TimeSent = DateTime.Now.AddDays(-4).AddHours(3),
                               Content = "Dafuq?"
                        },
                            }
                },
        new Chat()
        {
            Id = 1,
            IconUrl = "https://us.tonies.com/cdn/shop/products/Tonies-PDP-Assets-Nemo-Single.jpg",
            Name = "TheDoeChat",
            Participants = new List<Account>()
                        {
                    new Account() { Id = 112, Name = "TheDoe", Profile = new AccountProfile(){ AvatarFileURL = "https://us.tonies.com/cdn/shop/products/Tonies-PDP-Assets-Nemo-Single.jpg", },
                        ActivityStatus = new AccountActivityStatus(){ Description = "Online", Icon = "", IconColor = Color.Success.ToString()
                    }, TimeCreated = DateTime.Now.AddDays(-17) }, new Account() { Id = 113, Name = "BobTheBuilder", Profile = new AccountProfile(){ AvatarFileURL = "https://a1cf74336522e87f135f-2f21ace9a6cf0052456644b80fa06d4f.ssl.cf2.rackcdn.com/images/characters/large/800/Shrek.Shrek.webp", } },
                    new Account() { Id = 114, Name = "Mary Jane", Profile = new AccountProfile(){ AvatarFileURL = "https://static.wikia.nocookie.net/marvelcinematicuniverse/images/3/35/IronMan-EndgameProfile.jpg", } },

                },
            Messages = new List<ChatMessage>()
                    {
                    new ChatMessage() {
                        Author = new Account() { Id = 112, Name = "TheDoe", Profile = new AccountProfile(){ AvatarFileURL = "https://us.tonies.com/cdn/shop/products/Tonies-PDP-Assets-Nemo-Single.jpg", }},
                            AuthorId = 112,
                            TimeSent = DateTime.Now.AddDays(-2),
                            Content = "Ehm idk! :'D"
                    },
                    new ChatMessage() {
                        Author = new Account() { Id = 112, Name = "TheDoe", Profile = new AccountProfile(){ AvatarFileURL = "https://us.tonies.com/cdn/shop/products/Tonies-PDP-Assets-Nemo-Single.jpg", }},
                            AuthorId = 112,
                            TimeSent = DateTime.Now.AddDays(-2).AddMinutes(1),
                            Content = "Skreeeeeeeert"
                    },                        new ChatMessage() {
                        Author = new Account() { Id = 112, Name = "TheDoe", Profile = new AccountProfile(){ AvatarFileURL = "https://us.tonies.com/cdn/shop/products/Tonies-PDP-Assets-Nemo-Single.jpg", }},
                            AuthorId = 112,
                            TimeSent = DateTime.Now.AddDays(-2).AddMinutes(4),
                            Content = "Skreeewwwwwwert"
                    },
                    new ChatMessage() {
                        Author = new Account() { Id = 113, Name = "BobTheBuilder", Profile = new AccountProfile(){ AvatarFileURL = "https://a1cf74336522e87f135f-2f21ace9a6cf0052456644b80fa06d4f.ssl.cf2.rackcdn.com/images/characters/large/800/Shrek.Shrek.webp", } },
                            AuthorId = 113,
                            TimeSent = DateTime.Now.AddDays(-2).AddHours(1).AddMinutes(1),
                            Content = ":("
                    },new ChatMessage() {
                        Author = new Account() {
                            Id = 215,
                            Name = "SunnySideUp",
                            Profile = new AccountProfile() {
                                AvatarFileURL = ""
                            }
                        },
                        AuthorId = 215,
                        TimeSent = DateTime.Now.AddDays(-7).AddHours(5).AddMinutes(43),
                        Content = "Good morning everyone! Let's make today amazing!"
                    },

                    new ChatMessage() {
                        Author = new Account() {
                            Id = 507,
                            Name = "CrazyCatLady",
                            Profile = new AccountProfile() {
                                AvatarFileURL = ""
                            }
                        },
                        AuthorId = 507,
                        TimeSent = DateTime.Now.AddDays(-1).AddHours(2).AddMinutes(15),
                        Content = "Just adopted another furball! Say hello to Muffin!"
                    },

                    new ChatMessage() {
                        Author = new Account() {
                            Id = 821,
                            Name = "TechNerd",
                            Profile = new AccountProfile() {
                                AvatarFileURL = ""
                            }
                        },
                        AuthorId = 821,
                        TimeSent = DateTime.Now.AddDays(-4).AddHours(6).AddMinutes(58),
                        Content = "Does anyone know a good resource for learning Python? I'm eager to dive into programming!"
                    },
                    new ChatMessage() {
Author = new Account() {
    Id = 113,
    Name = "BobTheBuilder",
    Profile = new AccountProfile() {
        AvatarFileURL = "https://a1cf74336522e87f135f-2f21ace9a6cf0052456644b80fa06d4f.ssl.cf2.rackcdn.com/images/characters/large/800/Shrek.Shrek.webp"
    }
},
AuthorId = 113,
TimeSent = DateTime.Now.AddDays(-3).AddHours(2).AddMinutes(35),
Content = "Hey team, just a quick reminder that our meeting is rescheduled to tomorrow at 10 AM. Don't forget!"
},

new ChatMessage() {
Author = new Account() {
    Id = 113,
    Name = "BobTheBuilder",
    Profile = new AccountProfile() {
        AvatarFileURL = "https://a1cf74336522e87f135f-2f21ace9a6cf0052456644b80fa06d4f.ssl.cf2.rackcdn.com/images/characters/large/800/Shrek.Shrek.webp"
    }
},
AuthorId = 113,
TimeSent = DateTime.Now.AddDays(-6).AddHours(4).AddMinutes(12),
Content = "Just finished reading an amazing book! Highly recommend it to everyone looking for a good read."
},

new ChatMessage() {
Author = new Account() {
    Id = 113,
    Name = "BobTheBuilder",
    Profile = new AccountProfile() {
        AvatarFileURL = "https://a1cf74336522e87f135f-2f21ace9a6cf0052456644b80fa06d4f.ssl.cf2.rackcdn.com/images/characters/large/800/Shrek.Shrek.webp"
    }
},
AuthorId = 113,
TimeSent = DateTime.Now.AddDays(-9).AddHours(1).AddMinutes(55),
Content = "Feeling excited about the upcoming project! Let's crush it, team!"
},
new ChatMessage() {
Author = new Account() {
    Id = 113,
    Name = "BobTheBuilder",
    Profile = new AccountProfile() {
        AvatarFileURL = "https://a1cf74336522e87f135f-2f21ace9a6cf0052456644b80fa06d4f.ssl.cf2.rackcdn.com/images/characters/large/800/Shrek.Shrek.webp"
    }
},
AuthorId = 113,
TimeSent = DateTime.Now.AddDays(-4).AddHours(3).AddMinutes(20),
Content = "Just got back from a refreshing hike! Nature always helps clear the mind."
},

new ChatMessage() {
Author = new Account() {
    Id = 113,
    Name = "BobTheBuilder",
    Profile = new AccountProfile() {
        AvatarFileURL = "https://a1cf74336522e87f135f-2f21ace9a6cf0052456644b80fa06d4f.ssl.cf2.rackcdn.com/images/characters/large/800/Shrek.Shrek.webp"
    }
},
AuthorId = 113,
TimeSent = DateTime.Now.AddDays(-2).AddHours(6).AddMinutes(8),
Content = "Working on some new DIY projects at home. Can't wait to see how they turn out!"
},

// More chat messages here...

new ChatMessage() {
Author = new Account() {
    Id = 113,
    Name = "BobTheBuilder",
    Profile = new AccountProfile() {
        AvatarFileURL = "https://a1cf74336522e87f135f-2f21ace9a6cf0052456644b80fa06d4f.ssl.cf2.rackcdn.com/images/characters/large/800/Shrek.Shrek.webp"
    }
},
AuthorId = 113,
TimeSent = DateTime.Now.AddDays(-8).AddHours(2).AddMinutes(45),
Content = "Just discovered a new podcast series! Perfect for long commutes."
},new ChatMessage() {
Author = new Account() {
    Id = 113,
    Name = "BobTheBuilder",
    Profile = new AccountProfile() {
        AvatarFileURL = "https://a1cf74336522e87f135f-2f21ace9a6cf0052456644b80fa06d4f.ssl.cf2.rackcdn.com/images/characters/large/800/Shrek.Shrek.webp"
    }
},
AuthorId = 113,
TimeSent = DateTime.Now.AddDays(-5).AddHours(1).AddMinutes(40),
Content = "Just finished a great workout session! Feeling energized 💪"
},

new ChatMessage() {
Author = new Account() {
    Id = 113,
    Name = "BobTheBuilder",
    Profile = new AccountProfile() {
        AvatarFileURL = "https://a1cf74336522e87f135f-2f21ace9a6cf0052456644b80fa06d4f.ssl.cf2.rackcdn.com/images/characters/large/800/Shrek.Shrek.webp"
    }
},
AuthorId = 113,
TimeSent = DateTime.Now.AddDays(-3).AddHours(5).AddMinutes(12),
Content = "Just tried a new recipe for dinner and it turned out amazing! Who wants the recipe?"
},

// More chat messages here...

new ChatMessage() {
Author = new Account() {
    Id = 113,
    Name = "BobTheBuilder",
    Profile = new AccountProfile() {
        AvatarFileURL = "https://a1cf74336522e87f135f-2f21ace9a6cf0052456644b80fa06d4f.ssl.cf2.rackcdn.com/images/characters/large/800/Shrek.Shrek.webp"
    }
},
AuthorId = 113,
TimeSent = DateTime.Now.AddDays(-6).AddHours(3).AddMinutes(58),
Content = "Just saw the most breathtaking sunset! Sometimes it's the simple things that make life beautiful."
}




                                            }
        },
        new Chat()
                {
                    Id = 0,
                    IconUrl = "",
                    Name = "Bob The Builder",
                    Participants = new List<Account>()
                            {
                    new Account() { Id = 112, Name = "TheDoe", Profile = new AccountProfile(){ AvatarFileURL = "https://us.tonies.com/cdn/shop/products/Tonies-PDP-Assets-Nemo-Single.jpg", },
                        ActivityStatus = new AccountActivityStatus(){ Description = "Online", Icon = "", IconColor = Color.Success.ToString()
                    }, TimeCreated = DateTime.Now.AddDays(-17) },
                    new Account() { Id = 113, Name = "BobTheBuilder", Profile = new AccountProfile(){ AvatarFileURL = "https://a1cf74336522e87f135f-2f21ace9a6cf0052456644b80fa06d4f.ssl.cf2.rackcdn.com/images/characters/large/800/Shrek.Shrek.webp", DisplayName = "Bob The Builder" } },
                            },
                    Messages = new List<ChatMessage>()
                            {
                        new ChatMessage() {
                            Author = new Account() { Id = 116, Name = "Jeppe", Profile = new AccountProfile(){ AvatarFileURL = "https://www.looper.com/img/gallery/the-ending-of-death-note-explained/intro-1620395655.jpg", }},
                             AuthorId = 116,
                              TimeSent = DateTime.Now.AddDays(-2),
                               Content = "YEEEEEEET! :'D"
                        },
                        new ChatMessage() {
                            Author = new Account() { Id = 116, Name = "Jeppe", Profile = new AccountProfile(){ AvatarFileURL = "https://www.looper.com/img/gallery/the-ending-of-death-note-explained/intro-1620395655.jpg", }},
                             AuthorId = 116,
                              TimeSent = DateTime.Now.AddDays(-2).AddMinutes(1),
                               Content = "Skrrt"
                        },
                         new ChatMessage() {
                            Author = new Account() { Id = 116, Name = "Jeppe", Profile = new AccountProfile(){ AvatarFileURL = "https://www.looper.com/img/gallery/the-ending-of-death-note-explained/intro-1620395655.jpg", }},
                             AuthorId = 116,
                              TimeSent = DateTime.Now.AddDays(-2).AddMinutes(3),
                               Content = "BRRRRRRRRRRRRR"
                        },
                        new ChatMessage() {
                            Author = new Account() { Id = 113, Name = "BobTheBuilder", Profile = new AccountProfile(){ AvatarFileURL = "https://a1cf74336522e87f135f-2f21ace9a6cf0052456644b80fa06d4f.ssl.cf2.rackcdn.com/images/characters/large/800/Shrek.Shrek.webp", } },
                             AuthorId = 113,
                              TimeSent = DateTime.Now.AddDays(-4).AddHours(3),
                               Content = "Dafuq?"
                        },
                            }
                },
    };

    public List<ChatDTO> chat = new()
    {
        new ChatDTO(){
            Id = 0,
            //IconUrl = "", Does the chat no longer have image?
            Name = "Bob The Builder",
            Participants = new List<MemberDTO>()
            {
                new MemberDTO()
                {
                    Id = 112,
                    Profile = new ExternalUserProfileDTO()
                    {
                        AboutMe = "Test Message",
                        BannerColour = "#5C23D9",
                        MutualFriends = null, //Insert Entire UserDTO to test
                        MutualServers = null, //Servers Not Implemented, might make dummydata servers to test
                        Note = "",
                        User = new()
                        {
                            Name = "UserNameIsImportant" //Is this the only value in Member.Profile.User we need, maybe move out to profile or just member idk?
                        }
                    },
                    ImageIconURL = "https://us.tonies.com/cdn/shop/products/Tonies-PDP-Assets-Nemo-Single.jpg",
                    ActiveStatus = new ActiveActivityStatusDTO()
                    {
                        DisplayedContent = "Online", Icon = "", IconColor = Color.Success.ToString(), Name = "Online"
                    },
                    DisplayName = "John Doe",
                    NameColour = "#FF0",
                    IsOwner = false,
                    GroupingName = "" 
                }, //self
                new MemberDTO()
                {
                    Id = 113,
                    Profile = new ExternalUserProfileDTO()
                    {
                        AboutMe = "Test Message",
                        BannerColour = "#5C23D9",
                        MutualFriends = null, //Insert Entire UserDTO to test
                        MutualServers = null, //Servers Not Implemented, might make dummydata servers to test
                        Note = "Test",                        
                        User = new()
                        {
                            Name = "BobTheBuilder" //Is this the only value in Member.Profile.User we need, maybe move out to profile or just member idk?
                        }, 
                        /* Not yet implemented fully? */
                        // MembershipBadges = 
                        // {
                        //     new MembershipBadgeDTO()
                        //     {
                        //         IconName = "Echo",
                        //         IconURL = null,
                        //         OrderingWeight = 0,
                        //         TimeJoined = DateTime.Now.AddDays(-13).AddMinutes(23),
                        //     },
                        // }
                    },
                    ImageIconURL = "https://a1cf74336522e87f135f-2f21ace9a6cf0052456644b80fa06d4f.ssl.cf2.rackcdn.com/images/characters/large/800/Shrek.Shrek.webp",
                    ActiveStatus = new ActiveActivityStatusDTO()
                    {
                        DisplayedContent = "Away", Icon = "", IconColor = Color.Warning.ToString(), Name = "Away"
                    },
                    DisplayName = "Bob The Builder",
                    NameColour = "#F0F",
                    IsOwner = false,
                    GroupingName = "" // Members / role name
                }, //bob
            },
            LastReadMessageId = 1,
            Messages = new List<MessageDTO>()
            {
                new MessageDTO()
                {
                    Sender = new UserMinimalDTO() { Id = 113, DisplayName = "Bob The Builder", ImageIconURL = "https://a1cf74336522e87f135f-2f21ace9a6cf0052456644b80fa06d4f.ssl.cf2.rackcdn.com/images/characters/large/800/Shrek.Shrek.webp" },
                    Id = 0,
                    TimeSent = DateTime.Now.AddDays(-3).AddMinutes(3),
                    Content = "First Message",
                    TimeEdited = DateTime.Now.AddDays(-3).AddMinutes(4),

                },
                new MessageDTO()
                {
                    Sender = new UserMinimalDTO() { Id = 113, DisplayName = "Bob The Builder", ImageIconURL = "https://a1cf74336522e87f135f-2f21ace9a6cf0052456644b80fa06d4f.ssl.cf2.rackcdn.com/images/characters/large/800/Shrek.Shrek.webp" },
                    Id = 1,
                    TimeSent = DateTime.Now.AddDays(-2).AddMinutes(3),
                    Content = "Old Message"
                },
                new MessageDTO()
                {
                    Sender = new UserMinimalDTO() { Id = 113, DisplayName = "Bob The Builder", ImageIconURL = "https://a1cf74336522e87f135f-2f21ace9a6cf0052456644b80fa06d4f.ssl.cf2.rackcdn.com/images/characters/large/800/Shrek.Shrek.webp" },
                    Id = 2,
                    TimeSent = DateTime.Now.AddMinutes(-3),
                    Content = "New Message",
                    Replied =  new MessageDTO()
                    {
                        Sender = new UserMinimalDTO() { Id = 113, DisplayName = "Bob The Builder", ImageIconURL = "https://a1cf74336522e87f135f-2f21ace9a6cf0052456644b80fa06d4f.ssl.cf2.rackcdn.com/images/characters/large/800/Shrek.Shrek.webp" },
                        Id = 1,
                        TimeSent = DateTime.Now.AddDays(-2).AddMinutes(3),
                        Content = "Old Message"
                    },
                },
            }
        },
        new ChatDTO(){
            Id = 0,
            //IconUrl = "", Does the chat no longer have image?
            Name = "Bob The Builder, Jeppe",
            Participants = new List<MemberDTO>()
            {
                new MemberDTO()
                {
                    Id = 112,
                    Profile = new ExternalUserProfileDTO()
                    {
                        AboutMe = "Test Message",
                        BannerColour = "#5C23D9",
                        MutualFriends = null, //Insert Entire UserDTO to test
                        MutualServers = null, //Servers Not Implemented, might make dummydata servers to test
                        Note = "",
                        User = new()
                        {
                            Name = "UserNameIsImportant" //Is this the only value in Member.Profile.User we need, maybe move out to profile or just member idk?
                        }
                    },
                    ImageIconURL = "https://us.tonies.com/cdn/shop/products/Tonies-PDP-Assets-Nemo-Single.jpg",
                    ActiveStatus = new ActiveActivityStatusDTO()
                    {
                        DisplayedContent = "Online", Icon = "", IconColor = Color.Success.ToString(), Name = "Online"
                    },
                    DisplayName = "John Doe",
                    NameColour = "#FF0",
                    IsOwner = false,
                    GroupingName = "Members" // Nickname in the chat?
                }, //self
                new MemberDTO()
                {
                    Id = 113,
                    Profile = new ExternalUserProfileDTO()
                    {
                        AboutMe = "Test Message",
                        BannerColour = "#5C23D9",
                        MutualFriends = null, //Insert Entire UserDTO to test
                        MutualServers = null, //Servers Not Implemented, might make dummydata servers to test
                        Note = "",
                        User = new()
                        {
                            Name = "BobTheBuilder" //Is this the only value in Member.Profile.User we need, maybe move out to profile or just member idk?
                        }
                    },
                    ImageIconURL = "https://a1cf74336522e87f135f-2f21ace9a6cf0052456644b80fa06d4f.ssl.cf2.rackcdn.com/images/characters/large/800/Shrek.Shrek.webp",
                    ActiveStatus = new ActiveActivityStatusDTO()
                    {
                        DisplayedContent = "Away", Icon = "", IconColor = Color.Warning.ToString(), Name = "Away"
                    },
                    DisplayName = "Bob The Builder",
                    NameColour = "#F0F",
                    IsOwner = false,
                    GroupingName = "Members" // Nickname in the chat?
                }, //bob
                new MemberDTO()
                {
                    Id = 116,
                    Profile = new ExternalUserProfileDTO()
                    {
                        AboutMe = "Test Message",
                        BannerColour = "#ff0",
                        MutualFriends = null, //Insert Entire UserDTO to test
                        MutualServers = null, //Servers Not Implemented, might make dummydata servers to test
                        Note = "",                        
                        User = new()
                        {
                            Name = "Jeppe1602" //Is this the only value in Member.Profile.User we need, maybe move out to profile or just member idk?
                        }
                    },
                    ImageIconURL = "https://www.looper.com/img/gallery/the-ending-of-death-note-explained/intro-1620395655.jpg",
                    ActiveStatus = new ActiveActivityStatusDTO()
                    {
                        DisplayedContent = "Away", Icon = "", IconColor = Color.Warning.ToString(), Name = "Away"
                    },
                    DisplayName = "Jeppe",
                    NameColour = "#F0F",
                    IsOwner = false,
                    GroupingName = "Members" // Nickname in the chat?
                }, //jeppe
            },
            LastReadMessageId = 1,
            Messages = new List<MessageDTO>()
            {
                new MessageDTO()
                {
                    Sender = new UserMinimalDTO() { Id = 113, DisplayName = "Bob The Builder", ImageIconURL = "https://a1cf74336522e87f135f-2f21ace9a6cf0052456644b80fa06d4f.ssl.cf2.rackcdn.com/images/characters/large/800/Shrek.Shrek.webp" },
                    Id = 0,
                    TimeSent = DateTime.Now.AddDays(-3).AddMinutes(3),
                    Content = "First Message",
                    TimeEdited = DateTime.Now.AddDays(-3).AddMinutes(4),

                },
                new MessageDTO()
                {
                    Sender = new UserMinimalDTO() { Id = 113, DisplayName = "Bob The Builder", ImageIconURL = "https://a1cf74336522e87f135f-2f21ace9a6cf0052456644b80fa06d4f.ssl.cf2.rackcdn.com/images/characters/large/800/Shrek.Shrek.webp" },
                    Id = 1,
                    TimeSent = DateTime.Now.AddDays(-2).AddMinutes(3),
                    Content = "Old Message"
                },
                new MessageDTO()
                {
                    Sender = new UserMinimalDTO() { Id = 116, DisplayName = "Jeppe", ImageIconURL = "https://www.looper.com/img/gallery/the-ending-of-death-note-explained/intro-1620395655.jpg" },
                    Id = 2,
                    TimeSent = DateTime.Now.AddMinutes(-3),
                    Content = "New Message",                   
                    Replied =  new MessageDTO()
                    {
                        Sender = new UserMinimalDTO() { Id = 113, DisplayName = "Bob The Builder", ImageIconURL = "https://www.looper.com/img/gallery/the-ending-of-death-note-explained/intro-1620395655.jpg" },
                        Id = 1,
                        TimeSent = DateTime.Now.AddDays(-2).AddMinutes(3),
                        Content = "Old Message"
                    },
                },
            }
        }
    };


    public ChatDTO SortChat(ChatDTO c)
    {
        c.Messages = c.Messages.OrderBy(e => e.TimeSent).ToList();
        return c;
    }

    [Parameter]
    public EventCallback<ChatDTO> OnItemSelected { get; set; }

}