@*
    Chat tooltip layout which can be accessed from the chatlist by selecting a chat and entering the tooltip.

    If relative chat is a private chat the tooltip should display a usertooltip regarding the other user
    otherwise the tooltip should display the ability to mark as read, change icon, mute chat and leave the chat.
*@
<h3>ChatTooltipComponent</h3>

@code {

}
