@using CoreLib.DTO.EchoCore.ChatCore.TextCore
@using CoreLib.DTO.EchoCore.UserCore
@using CoreLib.Entities.EchoCore.AccountCore
@using CoreLib.Entities.EchoCore.ChatCore
@using MudBlazor
@rendermode InteractiveAuto

@*
    Layout for the Scrollable list that exists within the directmessagesviewcomponent.

    This component holds all chats and allows the user to search within the chats to filter them.

    Clicking chats within this component should call for parent navigation to the chatviewcomponent.
*@
@* <h3>ChatListComponent</h3> *@
<MudPaper Width="12vw" Height="90vh" Square Style="background: var(--mud-palette-surface);">
     <MudText Class="px-5 py-2">Direct Messages</MudText>
     <MudList Clickable="true">
         @foreach (var c in chat.OrderByDescending(e => e.Messages.Last().TimeSent))
        {
            <MudListItem Dense="true" OnClick="@(() => OnItemSelected.InvokeAsync(c))">
                <ChatComponent Chat="SortChat(c)" />
            </MudListItem>
        }
    </MudList>
</MudPaper>
@code {

    //DUMMY DATA
    public List<ChatDTO> chat = new()
    {
        new ChatDTO(){
            Id = 0,
            //IconUrl = "", Does the chat no longer have image?
            Name = "Bob The Builder",
            Participants = new List<MemberDTO>()
            {
                new MemberDTO()
                {
                    Id = 112,
                    Profile = new ExternalUserProfileDTO()
                    {
                        AboutMe = "Test Message",
                        BannerColour = "#5C23D9",
                        MutualFriends = null, //Insert Entire UserDTO to test
                        MutualServers = null, //Servers Not Implemented, might make dummydata servers to test
                        Note = "",
                        User = new()
                        {
                            Name = "UserNameIsImportant" //Is this the only value in Member.Profile.User we need, maybe move out to profile or just member idk?
                        }
                    },
                    ImageIconURL = "https://us.tonies.com/cdn/shop/products/Tonies-PDP-Assets-Nemo-Single.jpg",
                    ActiveStatus = new ActiveActivityStatusDTO()
                    {
                        DisplayedContent = "Online", Icon = "", IconColor = Color.Success.ToString(), Name = "Online"
                    },
                    DisplayName = "John Doe",
                    NameColour = "#FF0",
                    IsOwner = false,
                    GroupingName = "" 
                }, //self
                new MemberDTO()
                {
                    Id = 113,
                    Profile = new ExternalUserProfileDTO()
                    {
                        AboutMe = "Test Message",
                        BannerColour = "#5C23D9",
                        MutualFriends = null, //Insert Entire UserDTO to test
                        MutualServers = null, //Servers Not Implemented, might make dummydata servers to test
                        Note = "Test",                        
                        User = new()
                        {
                            Name = "BobTheBuilder" //Is this the only value in Member.Profile.User we need, maybe move out to profile or just member idk?
                        }, 
                        /* Not yet implemented fully? */
                        // MembershipBadges = 
                        // {
                        //     new MembershipBadgeDTO()
                        //     {
                        //         IconName = "Echo",
                        //         IconURL = null,
                        //         OrderingWeight = 0,
                        //         TimeJoined = DateTime.Now.AddDays(-13).AddMinutes(23),
                        //     },
                        // }
                    },
                    ImageIconURL = "https://a1cf74336522e87f135f-2f21ace9a6cf0052456644b80fa06d4f.ssl.cf2.rackcdn.com/images/characters/large/800/Shrek.Shrek.webp",
                    ActiveStatus = new ActiveActivityStatusDTO()
                    {
                        DisplayedContent = "Away", Icon = "", IconColor = Color.Warning.ToString(), Name = "Away"
                    },
                    DisplayName = "Bob The Builder",
                    NameColour = "#F0F",
                    IsOwner = false,
                    GroupingName = "" // Members / role name
                }, //bob
            },
            LastReadMessageId = 1,
            Messages = new List<MessageDTO>()
            {
                new MessageDTO()
                {
                    Sender = new UserMinimalDTO() { Id = 113, DisplayName = "Bob The Builder", ImageIconURL = "https://a1cf74336522e87f135f-2f21ace9a6cf0052456644b80fa06d4f.ssl.cf2.rackcdn.com/images/characters/large/800/Shrek.Shrek.webp" },
                    Id = 0,
                    TimeSent = DateTime.Now.AddDays(-3).AddMinutes(3),
                    Content = "First Message",
                    TimeEdited = DateTime.Now.AddDays(-3).AddMinutes(4),

                },
                new MessageDTO()
                {
                    Sender = new UserMinimalDTO() { Id = 113, DisplayName = "Bob The Builder", ImageIconURL = "https://a1cf74336522e87f135f-2f21ace9a6cf0052456644b80fa06d4f.ssl.cf2.rackcdn.com/images/characters/large/800/Shrek.Shrek.webp" },
                    Id = 1,
                    TimeSent = DateTime.Now.AddDays(-2).AddMinutes(3),
                    Content = "Old Message"
                },
                new MessageDTO()
                {
                    Sender = new UserMinimalDTO() { Id = 113, DisplayName = "Bob The Builder", ImageIconURL = "https://a1cf74336522e87f135f-2f21ace9a6cf0052456644b80fa06d4f.ssl.cf2.rackcdn.com/images/characters/large/800/Shrek.Shrek.webp" },
                    Id = 2,
                    TimeSent = DateTime.Now.AddMinutes(-3),
                    Content = "New Message",
                    Replied =  new()
                    {
                        //Sender = new UserMinimalDTO() { Id = 113, DisplayName = "Bob The Builder", ImageIconURL = "https://a1cf74336522e87f135f-2f21ace9a6cf0052456644b80fa06d4f.ssl.cf2.rackcdn.com/images/characters/large/800/Shrek.Shrek.webp" },
                        Id = 1,
                        TimeSent = DateTime.Now.AddDays(-2).AddMinutes(3),
                        Content = "Old Message"
                    },
                },
            }
        },
        new ChatDTO(){
            Id = 0,
            //IconUrl = "", Does the chat no longer have image?
            Name = "Bob The Builder, Jeppe",
            Participants = new List<MemberDTO>()
            {
                new MemberDTO()
                {
                    Id = 112,
                    Profile = new ExternalUserProfileDTO()
                    {
                        AboutMe = "Test Message",
                        BannerColour = "#5C23D9",
                        MutualFriends = null, //Insert Entire UserDTO to test
                        MutualServers = null, //Servers Not Implemented, might make dummydata servers to test
                        Note = "",
                        User = new()
                        {
                            Name = "UserNameIsImportant" //Is this the only value in Member.Profile.User we need, maybe move out to profile or just member idk?
                        }
                    },
                    ImageIconURL = "https://us.tonies.com/cdn/shop/products/Tonies-PDP-Assets-Nemo-Single.jpg",
                    ActiveStatus = new ActiveActivityStatusDTO()
                    {
                        DisplayedContent = "Online", Icon = "", IconColor = Color.Success.ToString(), Name = "Online"
                    },
                    DisplayName = "John Doe",
                    NameColour = "#FF0",
                    IsOwner = false,
                    GroupingName = "Members" // Nickname in the chat?
                }, //self
                new MemberDTO()
                {
                    Id = 113,
                    Profile = new ExternalUserProfileDTO()
                    {
                        AboutMe = "Test Message",
                        BannerColour = "#5C23D9",
                        MutualFriends = null, //Insert Entire UserDTO to test
                        MutualServers = null, //Servers Not Implemented, might make dummydata servers to test
                        Note = "",
                        User = new()
                        {
                            Name = "BobTheBuilder" //Is this the only value in Member.Profile.User we need, maybe move out to profile or just member idk?
                        }
                    },
                    ImageIconURL = "https://a1cf74336522e87f135f-2f21ace9a6cf0052456644b80fa06d4f.ssl.cf2.rackcdn.com/images/characters/large/800/Shrek.Shrek.webp",
                    ActiveStatus = new ActiveActivityStatusDTO()
                    {
                        DisplayedContent = "Away", Icon = "", IconColor = Color.Warning.ToString(), Name = "Away"
                    },
                    DisplayName = "Bob The Builder",
                    NameColour = "#F0F",
                    IsOwner = false,
                    GroupingName = "Members" // Nickname in the chat?
                }, //bob
                new MemberDTO()
                {
                    Id = 116,
                    Profile = new ExternalUserProfileDTO()
                    {
                        AboutMe = "Test Message",
                        BannerColour = "#ff0",
                        MutualFriends = null, //Insert Entire UserDTO to test
                        MutualServers = null, //Servers Not Implemented, might make dummydata servers to test
                        Note = "",                        
                        User = new()
                        {
                            Name = "Jeppe1602" //Is this the only value in Member.Profile.User we need, maybe move out to profile or just member idk?
                        }
                    },
                    ImageIconURL = "https://www.looper.com/img/gallery/the-ending-of-death-note-explained/intro-1620395655.jpg",
                    ActiveStatus = new ActiveActivityStatusDTO()
                    {
                        DisplayedContent = "Away", Icon = "", IconColor = Color.Warning.ToString(), Name = "Away"
                    },
                    DisplayName = "Jeppe",
                    NameColour = "#F0F",
                    IsOwner = false,
                    GroupingName = "Members" // Nickname in the chat?
                }, //jeppe
            },
            LastReadMessageId = 1,
            Messages = new List<MessageDTO>()
            {
                new MessageDTO()
                {
                    Sender = new UserMinimalDTO() { Id = 113, DisplayName = "Bob The Builder", ImageIconURL = "https://a1cf74336522e87f135f-2f21ace9a6cf0052456644b80fa06d4f.ssl.cf2.rackcdn.com/images/characters/large/800/Shrek.Shrek.webp" },
                    Id = 0,
                    TimeSent = DateTime.Now.AddDays(-3).AddMinutes(3),
                    Content = "First Message",
                    TimeEdited = DateTime.Now.AddDays(-3).AddMinutes(4),

                },
                new MessageDTO()
                {
                    Sender = new UserMinimalDTO() { Id = 113, DisplayName = "Bob The Builder", ImageIconURL = "https://a1cf74336522e87f135f-2f21ace9a6cf0052456644b80fa06d4f.ssl.cf2.rackcdn.com/images/characters/large/800/Shrek.Shrek.webp" },
                    Id = 1,
                    TimeSent = DateTime.Now.AddDays(-2).AddMinutes(3),
                    Content = "Old Message"
                },
                new MessageDTO()
                {
                    Sender = new UserMinimalDTO() { Id = 116, DisplayName = "Jeppe", ImageIconURL = "https://www.looper.com/img/gallery/the-ending-of-death-note-explained/intro-1620395655.jpg" },
                    Id = 2,
                    TimeSent = DateTime.Now.AddMinutes(-3),
                    Content = "New Message",                   
                    Replied =  new()
                    {
                        //Sender = new UserMinimalDTO() { Id = 113, DisplayName = "Bob The Builder", ImageIconURL = "https://www.looper.com/img/gallery/the-ending-of-death-note-explained/intro-1620395655.jpg" },
                        Id = 1,
                        TimeSent = DateTime.Now.AddDays(-2).AddMinutes(3),
                        Content = "Old Message"
                    },
                },
            }
        }
    };


    public ChatDTO SortChat(ChatDTO c)
    {
        c.Messages = c.Messages.OrderBy(e => e.TimeSent).ToList();
        return c;
    }

    [Parameter]
    public EventCallback<ChatDTO> OnItemSelected { get; set; }

}