@*
    Chat layout for when it exists within the scrollable list in the direct message section.

    This component should either reflect the other member than the user itself if there is only 2 members within the chat.
    Otherwise reflect the chat name and image.
*@
<h3>Component</h3>

@code {

}
