@*
    Layout for the blocked list that exists within the friendsviewcomponent.

    This component holds all blocked users and allows the user to search within the blocked users to filter them.

    Clicking a blocked user allows the user to view the blocked user's profile.

    The user can also unblock the blocked user by clicking the unblock button relative to the user.
*@
<h3>Component</h3>

@code {

}
