@*
    friendcomponent layout for when it exists within the scrollable list in the friendlistcomponent.

    This component should display the users displayname, status, customstatusmessage, image.

    Hovering the friend component should display their userhandle beside their displayname.

    Clicking Message or Hovering and left-clicking the member, allows the user to navigate directly to their shared private chat.

    Hovering and right-clicking the member allows the user to display the user tooltip of the friend.
*@
<h3>FriendComponent</h3>

@code {

}
