@*
    Layout for the friends section that exists within the DirectMessagesViewComponent in the Direct Messages section.

    This component holds several sections via navigation in tabs that displays online users,
    all users, pending requests, friend suggestions, blocked users and the option to add friends.
*@
<h3>Component</h3>

@code {

}
