@using CoreLib.Entities.EchoCore.AccountCore
@*
    friendcomponent layout for when it exists within the scrollable list in the friendlistcomponent.

    This component should display the users displayname, status, customstatusmessage, image.

    Hovering the friend component should display their userhandle beside their displayname.

    Clicking Message or Hovering and left-clicking the member, allows the user to navigate directly to their shared private chat.

    Hovering and right-clicking the member allows the user to display the user tooltip of the friend.
*@
<div class="d-flex flex-grow-1">
    <MudBadge Color="@stringToColor.ConvertStringToColor(Account.ActivityStatus.IconColor)" Icon="@Account.ActivityStatus.Icon"
                Bordered Overlap="true" Origin="Origin.BottomRight">
         <MudImage Src="@Account.Profile.AvatarFileURL" Height="32" Width="32" ObjectFit="ObjectFit.Cover" Class="rounded-circle mt-1 ml-1" />
     </MudBadge>
     <MudText Class="ml-3" Typo="Typo.caption">@((MarkupString)(Account.Name + "\r\n" + Account.ActivityStatus.Name).Replace(Environment.NewLine, "<br />"))</MudText>
 </div>
@code {
    [Parameter]
    public Account? Account { get; set; }

    public readonly StringToColor stringToColor = new();
}
