@page "/"
@using CoreLib.DTO.EchoCore.UserCore
@using CoreLib.Entities.EchoCore.ChatCore
@using EchoWebapp.Client.Components.DirectMessages
@using EchoWebapp.Client.Components.Servers
@inject ILocalStorageService LocalStorage
@inject NavigationManager nav
@inject Provider.AccountIdContainer AccountContainer
@inject EchoAPI _echoAPI

@rendermode InteractiveAuto
@*
    Index layout that holds the general application layout navigation and content.

    This component allows for navigation to the direct messages section and to specific servers via the server list it contains.
*@

@* <h3>IndexComponent</h3> *@

@* so you dont see the UI befor you are logget in*@
@if (loggedIn)
{
    <div class="d-flex">
        <ServerListComponent OnItemSelected=@HandleOnChanged/>
        <DirectMessagesViewComponent self=self DisplayFriends=display />
    </div>
}
else 
{
    <MudOverlay Visible="true" DarkBackground="true" ZIndex="9999">
        <MudProgressCircular Color="Color.Secondary" Indeterminate="true" />
    </MudOverlay>
}

@code {

    bool display = true;
    bool loggedIn = false;
    public UserFullDTO self { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {

            if (!await LocalStorage.ContainKeyAsync("Token"))
            {
                nav.NavigateTo("/login");
            }
            else
            {
                var token = await LocalStorage.GetItemAsStringAsync("Token");
                // AccountContainer.SetValue(Convert.ToUInt64(id), token);

                var result = await _echoAPI.LoadUserSessionDataAsync(token);
                if(result != null)
                {
                    loggedIn = true;
                    result.ActiveStatus.DisplayedContent = result.ActiveStatus.Name;
                    self = result;
                }
                StateHasChanged();
            }
        }
        await base.OnAfterRenderAsync(firstRender);
    }

    public void HandleOnChanged(bool selected)
    {
        display = selected;
        StateHasChanged();
    }
}