@page "/index"
@using EchoWebapp.Client.Components.DirectMessages
@using EchoWebapp.Client.Components.Servers
@rendermode InteractiveAuto
@*
    Index layout that holds the general application layout navigation and content.

    This component allows for navigation to the direct messages section and to specific servers via the server list it contains.
*@

<h3>IndexComponent</h3>
<DirectMessagesViewComponent/>

@code {

}