@inherits LayoutComponentBase
@using MudBlazor

<MudThemeProvider @bind-IsDarkMode="@_isDarkMode" Theme="_theme" />
<MudDialogProvider />
<MudSnackbarProvider />
@* <MudButton @rendermode=InteractiveAuto>
</MudButton> *@

<MudPaper Width="100vw" MinHeight="3vh" MaxHeight="6vh" Square Style="background: var(--mud-palette-dark);" Elevation="0"><MudText Class="pl-5 py-1">Echo</MudText></MudPaper>
<div class="page">
    <div>
        <NavMenu @rendermode=InteractiveAuto />
    </div>

    <main>
        @Body
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@* <MudSwitch @bind-Checked="@_isDarkMode" Color="Color.Primary" Class="ma-4" T="bool" Label="Toggle Light/Dark Mode" @rendermode=InteractiveAuto /> *@

@code {
    public MudTheme _theme = new();
    private bool _isDarkMode = true;
}