@inherits LayoutComponentBase
@using MudBlazor
@inject IDialogService DialogService


<MudThemingProvider @bind-IsDarkMode="@_isDarkMode" Theme="_theme" DefaultScrollbar=false />
<MudSnackbarProvider @rendermode=InteractiveAuto />
<MudPopoverProvider @rendermode=InteractiveAuto />
@* <MudDialogProvider @rendermode=InteractiveAuto /> *@

<MudPaper Width="100vw" MinHeight="3vh" MaxHeight="6vh" Square Style="background: var(--mud-palette-dark);" Elevation="0"><MudText Class="pl-5 py-1">Echo</MudText></MudPaper>
 <div class="page" style=@($"color-scheme: {(_isDarkMode ? "dark" : "light")}")>
     <div>
         <!-- appname, friends, dm, servers -->
    </div> 

    <main>
         <CascadingValue Value="DialogService">
            @Body
        </CascadingValue>
     </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@* <MudSwitch @bind-Checked="@_isDarkMode" Color="Color.Primary" Class="ma-4" T="bool" Label="Toggle Light/Dark Mode" @rendermode=InteractiveAuto /> *@

@code {
    public MudTheme _theme = new();
    private bool _isDarkMode = true;
}