@*
    Layout for a DeviceListComponent that exists within a SettingsViewComponent.

    This component shows device sessions aswell as allows the user to remove sessions basically deactivating their token.
*@
<h3>Component</h3>

@code {

}
