@*
    Layout for a WindowSettingsComponent that exists within a SettingsViewComponent.

    This component handles user settings regarding the application window (only app version) such as open on startup, start minimized and close to minimize to systemtray.
*@
<h3>Component</h3>

@code {

}
